body {
    background-color: rgb(23, 5, 124);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
}

h2 {
    font-size: 25px;
    padding: 10px;
}

#tutorial_content {
    max-width: 600px;
    margin: 0 auto -30px auto;
    padding: 20px;
    text-align: left;
}

#tutorial_content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#game_objective_title,
#game_rules_title,
#team_communication_title,
#getting_started_title {
    font-size: 20px;
    margin-top: 30px;
}

#game_rules ol,
#team_chat,
#general_chat,
#getting_started ol {
    margin-left: 40px;
}

button {
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 30px;
    padding: 5px 70px;
    border: 2px solid white;
}

#skip-button-container {
    display: flex;
    justify-content: center;
}

section#team_chat_text {
    display: inline;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    h2 {
        font-size: 20px;
        padding: 5px;
    }

    #tutorial_content {
        max-width: 400px;
        padding: 10px;
    }

    #tutorial_content h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #game_objective_title,
    #game_rules_title,
    #team_communication_title,
    #getting_started_title {
        font-size: 18px;
        margin-top: 20px;
    }

    #game_rules ol,
    #team_chat,
    #general_chat,
    #getting_started ol {
        margin-left: 20px;
    }

    button {
        padding: 5px 20px;
        margin-top: 20px;
    }
}
